/* @tailwind base;
@tailwind components;
@tailwind utilities; */
/* @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"); */
/* @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"); */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: sans-serif;
}
.nav-container {
  width: 100%;
  padding: 0.5rem;
  background-color: #e5d9f2;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  z-index: -2;
}
.inner-nav {
  padding: 1rem;
  width: 70%;
  border-radius: 30px;
  background-color: #cdc1ff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.inner-nav .logo-div strong {
  font-size: 1.4rem;
  cursor: pointer;
  letter-spacing: 2px;
}
.inner-nav .links-div ul {
  display: flex;
  gap: 4rem;
}
.links-div ul li a {
  color: black;
  font-weight: 400;
  position: relative;
}
.links-div ul li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 3px solid black;
  border-radius: 10px;
  width: 0%;
  margin-top: 18px;
  transition: all 0.2s linear;
}
.links-div ul li a:hover::before {
  width: 100%;
  border-bottom-color: rgb(134, 88, 241);
}
/* navbar end here */
.home-main {
  height: 90vh;
  width: 100%;
  background: linear-gradient(to bottom, white, #9557fa);
  margin-top: 2px;
  padding: 0 2rem;
  display: grid;
  grid-template-rows: minmax(500px, 600px);
  grid-auto-rows: 500px;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  gap: 10px;
  position: relative;
}
.grid-1 {
  padding-top: 10rem;
  padding-left: 1rem;
  padding-right: 1rem;
  /* background-color: rgb(207, 232, 218); */
}
.grid-1 strong {
  color: rgb(119, 134, 245);
}
.grid-1 h1 {
  font-size: 2rem;
  margin-top: 0.5rem;
  color: #8a70f3;
}
.grid-1 p {
  line-height: 40px;
  margin-top: 1rem;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.grid-1 button {
  padding: 1rem;
  width: 14rem;
  font-weight: 800;
  background: linear-gradient(40deg, #8a70f3, white);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 3rem;
  color: #5228f9;
  font-size: 1rem;
  transition: all 0.2s linear;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}
.grid-1 button:hover {
  background: linear-gradient(40deg, #5228f9, white);
  color: black;
  scale: 1.1;
}
.grid-2 {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: lightblue; */
}
.grid-2 .img-div {
  width: 35rem;
  height: 35rem;
  background-color: rebeccapurple;
  border: 4px solid #cdc1ff;
  box-shadow: 0px 0px 10px 3px rgb(155, 116, 239);
  border-radius: 50%;
}
.grid-2 .img-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.custom-shape-divider-bottom-1729883666 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.custom-shape-divider-bottom-1729883666 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 111px;
}
.custom-shape-divider-bottom-1729883666 .shape-fill {
  fill: #cdc1ff;
}
/* main section end here */
.section-contact {
  padding: 3rem;
  background-color: #cdc1ff;
  width: 100%;
  height: 50vh;
}
.contact-div {
  width: 100%;
  height: 50vh;
  padding: 4rem 3rem;
  display: grid;
  grid-template-rows: repeat(2, 50px);
  grid-template-columns: repeat(2, minmax(290px, 1fr));
  grid-auto-rows: 50px;

  gap: 10px;
}

.contact-items {
  background-color: #e5d9f2;
  border-radius: 5px;
  padding-left: 0.2rem;
}
.contact-item5 {
  grid-column: span 2;
}
.contact-item1 {
  display: flex;
  align-items: center;
}
.info-flex {
  display: flex;
  align-items: center;

  border-radius: 2px;
  padding: 2px;
  width: 100%;
  height: auto;
}
.info-flex label {
  display: inline-block;
  width: 8rem;
}
.contact-inputs {
  border-radius: 5px;
  padding: 1rem;
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
}
textarea {
  background-color: transparent;
  border: none;
}
.send-message-btn {
  padding: 1rem;
  width: 14rem;
  color: #5228f9;
  background: linear-gradient(40deg, #8a70f3, white);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.2rem;
  transition: all 0.2s linear;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  margin-left: 100%;
  transform: translate(-50%);
}
.send-message-btn:hover {
  background: linear-gradient(40deg, #5228f9, white);
  /* transform: scale(1.1); */
  color: black;
}
/* contact section end here */
.section-services {
  width: 100%;
  height: auto;
  padding: 4rem 2rem;
  background-color: #cdc1ff;
}
.section-services h2 {
  font-size: 2rem;
  color: #8a70f3;
}
.section-services .services-para {
  font-size: 1.2rem;
  margin-top: 1rem;
  padding-bottom: 3rem;
}
.services-grid {
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-template-rows: repeat(1, 450px);
  grid-auto-rows: 450px;
  gap: 5px;
  padding: 1rem;
}
.grid-items {
  background: linear-gradient(40deg, #8a70f3, #d6d2e6);
  padding: 1rem;
  border-radius: 20px;
  /* place-content: center; */
  place-items: center;
  /* text-align: center; */
}
.grid-items .skill-div {
  height: 11rem;
  width: 11rem;
  /* background-color: yellow; */
  border: 3px solid #5228f9;

  border-radius: 50%;
}
.grid-items .skill-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.grid-items strong {
  color: #5228f9;
  font-size: 1.5rem;
  margin-top: 1rem;
  display: inline-block;
}
.grid-items p {
  margin-top: 0.5rem;
  text-align: center;
  line-height: 25px;
  /* font-weight: 500; */
}
.grid-items button {
  padding: 1rem;
  width: 14rem;
  background: linear-gradient(40deg, #8a70f3, white);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 0.5rem;
  transition: all 0.2s linear;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}
.grid-items button a {
  color: #5228f9;
  font-weight: 700;
  font-size: 1.2rem;
}
.grid-items button:hover {
  background: linear-gradient(40deg, #5228f9, white);
  transform: scale(1.1);
  color: black;
}
.section-footer {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-template-rows: repeat(1, 300px);
  grid-auto-rows: 300px;
  background-color: #cdc1ff;
  background: linear-gradient(40deg, #8a70f3, #d6d2e6);
  padding: 2rem;
  gap: 10px;
}
.common-footer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.icon-div {
  /* background-color: red; */
  width: 10rem;
  font-size: 2rem;
  /* padding: 1rem; */
  justify-content: space-around;
  display: flex;
}
.common-footer a {
  color: black;
}
.footer3 .store-div {
  display: flex;
  gap: 3px;
}
/* footer section end here */

@media (width<1320px) {
  .section-services {
    height: auto;
  }
  .services-grid {
    height: auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .section-footer {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
@media (width<1240px) {
  .grid-2 .img-div {
    width: 30rem;
    height: 30rem;
  }
  .store-div {
    flex-direction: column;
  }
}
@media (width<1030px) {
  .home-main {
    grid-template-rows: minmax(100px, auto);
    grid-template-columns: repeat(1, minmax(300px, 1fr));
    height: 90vh;
    padding-top: 5rem;
  }

  .grid-2 {
    display: none;
  }
  .grid-1 {
    padding-top: 1rem;
  }
}
@media (width<1001px) {
  .footer3 {
    grid-column: span 2;
  }
}
@media (width<920px) {
  .services-grid {
    padding: 0.1rem;
  }
  .inner-nav .links-div ul {
    gap: 1.5rem;
  }
  .section-services .services-para {
    line-height: 30px;
    font-size: 1rem;
  }
  .grid-1 p {
    font-size: 1rem;
    line-height: 30px;
  }
}
@media (width<800px) {
  .section-contact {
    padding: 0.2rem;
    height: auto;
    width: 100%;
  }
  .contact-div {
    height: auto;
    width: 100%;
    padding: 0.2rem 0.2rem;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
  .contact-item5 {
    grid-column: span 1;
    height: auto;
  }
}
@media (width<692px) {
  .footer3 {
    grid-column: span 1;
  }
}
@media (width<680px) {
  .inner-nav {
    padding: 0.5rem;
    width: 90%;
    flex-direction: column;
    justify-content: space-around;
    justify-content: start;
  }
}
@media (width<580px) {
  .custom-shape-divider-bottom-1729883666 svg {
    height: 60px;
  }
}
@media (width<420px) {
  .custom-shape-divider-bottom-1729883666 svg {
    height: 50px;
  }
  .section-services {
    padding: 0.2rem;
    padding-top: 4rem;
  }
  .home-main {
    padding: 0.2rem;
    padding-top: 1rem;
    height: 80vh;
  }
  .grid-1 {
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .grid-1 h1 {
    font-size: 1.5rem;
  }
  .grid-1 p {
    text-align: center;
  }
  .section-footer {
    padding: 0.2rem;
  }
}
@media (width <=320px) {
  .home-main {
    height: 100vh;
  }
}
